input, select{
    border: none;
    border-bottom: solid 1.5px #B51764 ;
    background-color:transparent;
    width: 150px;
    height: 47px;
    margin: 0 10px;
    padding-left: 15px;
}
.form{
   
    display: flex;
    align-items: center;
    justify-content: center;
}


